* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

.sysmon {
  background-color: rgba(30, 30, 46, 0.85);
  color: #f8f8f2;
  border-radius: 12px;
  box-shadow: 0 0 5px #000;
}
